<h1><center><b>Bienvenue</b></center></h1>
<h3><center>Cherches un film mon pote !</center></h3>
<center>
<form action="/" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <input type="text" name="movie">
  <input type="submit" name="submit" value="Submit">
</form>
<% if flash[:info] %>
    <div><%= flash[:info] %></div>
<% end %>
</center>
